<%= @comment.content %>

<form action="<%= post_comments_url(@comment.post) %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post.id %>">
  
  <label> Comment:
    <textarea name="comment[content]"></textarea>
  </label>

  <button>Reply</button>
</form>



